@using CapaEntidades;
@model EjTema10ADO.NET.Models.ViewModels.clsPersonaListaDepVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>clsPersona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellidos" class="control-label"></label>
                <input asp-for="Persona.Apellidos" class="form-control" />
                <span asp-validation-for="Persona.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Telefono" class="control-label"></label>
                <input asp-for="Persona.Telefono" class="form-control" />
                <span asp-validation-for="Persona.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="control-label"></label>
                <input asp-for="Persona.Direccion" class="form-control" />
                <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Foto" class="control-label"></label>
                <input asp-for="Persona.Foto" class="form-control" />
                <span asp-validation-for="Persona.Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.FechaNac" class="control-label"></label>
                <input asp-for="Persona.FechaNac" class="form-control" />
                <span asp-validation-for="Persona.FechaNac" class="text-danger"></span>
            </div>
          
            <!--AQUI LA CHICHA DEL VM DESPLEGABLE LIST DEPS Y MANDAR SELECCIONADO-->
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <br />
                <select id="desplegableDepartamentos" name="id">
                    @foreach (clsDepartamento departamento in Model.ListaDep)
                    {
                        <option value="@departamento.Id"> @departamento.NombreDep </option>
                    }
                </select>

                <span asp-validation-for="Departamento.NombreDep" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listado">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
