@{
    ViewData["Title"] = "Home Page";
}
<h1>COMPROBACION DE ESTADO DE LA CONEXION CON LA BBDD</h1>

<label>El estado de la conexion es: @ViewData["Connection"]</label>

@Html.ActionLink("Ir a listado", "Listado", "Crud")